<h1>Regex detector</h1>
<%= form_tag '/detector/summary' do %> 
    <div><%= label_tag 'regexps' %></div>
    <div><%= text_area_tag 'regex', "[Kk]ot ku+rka+" %></div>
    <div><%= label_tag 'text' %></div>
    <div><%= text_area_tag 'text', "Koty i kurka poszły na spacer, kot mówi do kurki, ładna jesteś kuuurkaaa.", rows: 6 %></div>
    <div><%= submit_tag 'Check' %></div>
<% end %>